.App {
    text-align: center;
    background-color: #088395;
  }

  body{
    background-color: #088395;
  }
  

  .title {
    margin: 80px;

  }


  /* .car-data {
    display: flex;
    margin: 20px;
    padding: 40px;
    justify-content: space-between;
    justify-items: stretch;
    
  } */

  .one-data{
    padding: 60px;
    
    border: 2px solid black;
    margin: 20px;
    background-color: aquamarine;
  }
  .car-data li {
    margin: 10px;
    text-align: left;
    
  }

  h1 {
    font-size: 80px;
    border: 2px solid black;
    background-color: aquamarine;
    
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color:#0A4D68;
   border-bottom: 4px solid black;
    padding: 20PX;
  }

  a {
    text-decoration: none;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 20px;
    padding: 5px;
  }
  


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }